@import "mixin";
@import "variable";

// auth css

.pd-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 2.75em 0 0.75em !important;
  }
}

.country-selector {
  min-width: 80px !important;
}

.example-form {
  max-width: 1080px;
  width: 100%;
  min-height: 632px;
  margin: 0 auto;
  .mat-form-field {
    width: 100%;
  }
  .inner-box {
    display: flex;
    width: 100%;
    // min-height: 632px;
    h3 {
      color: $textcolor;
      font-weight: $regular;
      margin-bottom: 32px;
    }
  }
  .left-box {
    width: 50%;
    min-height: 632px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      width: 250px;
      height: 38px;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right-box {
    width: 50%;
    min-height: 632px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .inner-div-box {
    width: 330px;
    margin: auto;
    .mat-btn {
      background: #ffca9f;
      border-radius: 24px;
      color: #fff;
      font-size: 14px;
      font-weight: $regular;
      height: 40px;
      min-width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      cursor: not-allowed;
      @include prefix(transition, all 0.4s ease-in-out);
      &.active {
        cursor: pointer;
        background-color: #ffa02f;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .middle-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 45px;
    }
    .bottom-box {
      p {
        color: #555555;
        line-height: 1.3;
        font-size: 12px;
        font-weight: $regular;
        a {
          color: $primary;
        }
      }
    }
    .link-text {
      color: #808080;
      font-weight: $regular;
      font-size: 12px;
    }
    .pwd-icon {
      position: absolute;
      right: -25px;
      top: 9px;
      z-index: 111;
      cursor: pointer;
    }
  }
}

// close auth css

// steps

.step-content-box {
  h2 {
    color: $primary;
    font-weight: $regular;
    line-height: 1;
    margin-bottom: 27px;
    font-size: 22px;
  }
}

// select box
.mat-select-arrow {
  width: 13px !important;
  height: 7px !important;
  background: transparent url(/assets/images/svg/down-arrow.svg) no-repeat scroll center center;
  background-size: cover;
  border: none !important;
}
.mat-drawer-container {
  background-color: #f8f8f8 !important;
}
// button css start
.icon-btn {
  background: transparent;
  border-radius: 38px;
  padding: 0;
  &.bordered {
    border: 1px solid #b4c0c3;
    padding: 13px 16px 12px 16px;
  }
}
.black-outline-btn {
  color: #ffa02f;
  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  font-family: "Roboto", "sans-serif";
  background: transparent;
  border: 1px solid #b4c0c3;
  border-radius: 38px;
  padding: 13px 24px 12px;
}
// button css over

// checkbox css start
.example-list-section {
  ul {
    padding-left: 24px;
  }
}
.theme-black-checkbox {
  &.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
  &.mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #333333;
  }
}
// checkbox css over

// .mat-stepper-horizontal, .mat-stepper-vertical{
//   background-color: transparent !important;
// }

.mat-form-field-label {
  font-size: 16px !important;
  font-weight: $regular !important;
  //color: #808080 !important;
}
mat-sidenav-container {
  width: 100%;
  height: 100vh;

  mat-sidenav {
    mat-nav-list {
      .menu-item {
        margin-left: 8px;
      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }

      .main.footer {
        position: absolute;
        bottom: 31px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 30px;
      }
    }
  }
}

.mat-btn {
  background: #ffca9f;
  border-radius: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: $regular;
  height: 40px;
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  cursor: pointer;
  @include prefix(transition, all 0.4s ease-in-out);
  &:active {
    background-color: #ffa02f;
  }
  &.mat-button-disabled {
    border: none !important;
  }
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus,
.mat-nav-list .mat-list-item.mat-active {
  background: rgba(255, 160, 47, 0.1) !important;
  @include prefix(border-radius, 10px);
}
.mat-sidenav-container .mat-sidenav .mat-nav-list .menu-item {
  color: #333333;
  font-size: 14px;
  font-weight: $regular;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 40px !important;
  margin-bottom: 10px;
}
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 4px !important;
}
.mat-nav-list {
  padding: 8px 30px 0;
}

.card-box {
  background: #fcfcfc !important;
  box-shadow:
    0px 5px 21px rgba(0, 0, 0, 0.07),
    -10px 9px 21px #f8f8f8;
  -moz-box-shadow:
    0px 5px 21px rgba(0, 0, 0, 0.07),
    -10px 9px 21px #f8f8f8 !important;
  -webkit-box-shadow:
    0px 5px 21px rgba(0, 0, 0, 0.07),
    -10px 9px 21px #f8f8f8 !important ;
  min-height: 632px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important ;
}

.stepper-div .mat-step-icon.mat-step-icon-state-edit.mat-step-icon-selected {
  background: #ffa02f !important;
  border-color: #ffa02f !important;
}

.mat-step-icon-state-edit.mat-step-icon .mat-icon {
  color: #fff !important;
}

// .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background ,
// .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element
// {
//     background-color: $primary;
// }
// .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end{
//     border-color: #AAB7B8;
// }
.mat-checkbox-label {
  color: #686868;
  font-size: 12px;
  font-weight: $regular;
}

// page-content css start
// .page-content {
//   padding: 0 30px;
// }
// page-content css over

.mat-input-element {
  font-weight: $light;
  color: #333333;
}

.center {
  text-align: center;
}

// tab css start
.mat-tab-group {
  .mat-tab-label {
    padding: 0;
    min-width: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    opacity: 1;
    &.mat-tab-label-active {
      color: #ffa02f;
    }
  }
  .mat-tab-labels {
    column-gap: 10px;
  }
  .mat-tab-list {
    .mat-ink-bar {
      background: #ffa02f;
      border-radius: 10px;
      height: 4px;
    }
  }
  .tab-extra-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
  }
}
// tab css over

.mat-vertical-content-container {
  padding-right: 170px;
}

@media (max-width: 1280px) {
  .mat-vertical-content-container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .mat-nav-list {
    height: 100%;
    overflow: auto;
    padding-bottom: 90px;
  }
  mat-sidenav-container {
    mat-sidenav {
      mat-nav-list {
        .main.footer {
          background-color: #fff;
        }
      }
    }
  }
}
