@import "mixin";
@import "variable";

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  @include prefix(box-sizing, border-box);
  -webkit-tap-highlight-color: transparent;
}
html {
  overscroll-behavior: contain;
  @include prefix(text-size-adjust, none);
}
body {
  font-family: "Fira Sans";
  font-size: 16px;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  vertical-align: middle;
  display: inline-block;
}
a {
  text-decoration: none;
  &:hover,
  &:focus {
    @extend a;
  }
}
button {
  outline: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    @extend button;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  margin: 0;
  font-weight: normal;
  line-height: normal;
}
p {
  margin: 0;
  line-height: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
div,
aside,
figure,
figcaption,
label {
  margin: 0;
}

input,
textarea,
select {
  @include prefix(appearance, none);
}

::-moz-selection {
  background: $primary;
  color: $white;
}
::selection {
  background: $primary;
  color: $white;
}

::-webkit-input-placeholder {
  color: $progress-gray;
  opacity: 1;
}
:-moz-placeholder {
  color: $progress-gray;
  opacity: 1;
}
::-moz-placeholder {
  color: $progress-gray;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $progress-gray;
  opacity: 1;
}
@-moz-document url-prefix() {
  select {
    text-indent: -2px;
  }
}

// Fonts Size
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
