@import "variable";
@import "mixin";

.div-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  @include prefix(box-shadow, none !important);
  @include prefix(border-radius, 10px);
  overflow: hidden;
  .center {
    text-align: center !important;
  }
  table {
    width: 100%;
    // min-width: 1200px;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .number {
    background-color: rgba(255, 160, 47, 0.2);
    color: rgba(255, 160, 47, 1);
    font-size: 14px;
    font-weight: 500;
    font-family: "Fira Sans";
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
  }

  .table-header {
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
    }

    .wrap-group {
      display: flex;
      align-items: center;

      button:not([noStyle]) {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.6);
      }

      .serach-group {
        position: relative;
        display: flex;
        align-items: center;

        .search-btn {
          &.searchclose {
            app-cancle-icon {
              display: none;
              height: 24px;
              width: 24px;
            }
          }

          &.searchopen {
            position: absolute;
            right: 10px;
            .mat-icon {
              display: none;
            }
          }
        }

        .search-icon {
          display: none;

          &.searchopen {
            display: flex;
            background: #ebebeb;
            border-radius: 4px;
            padding: 4px 40px 4px 6px;
          }
        }

        .mat-input-element {
          border: 1px solid rgba(0, 0, 0, 0.12);
          padding: 6px 13px;
          border-radius: 4px;
          min-width: 210px;
          background-color: #fff;

          &:focus {
            border: 1px solid rgba(255, 160, 47, 1);
          }
        }
      }

      .date-group {
        margin: 0 12px;
      }

      .download-group {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        padding-left: 12px;
        margin-left: 12px;
        display: flex;
        align-items: center;
      }
    }
  }

  thead {
    th {
      font-weight: $medium;
      font-size: 14px;
      color: #333333;
      background-color: #fafbfc;
      padding-right: 15px;
    }

    .mat-header-row {
      height: 48px;
    }

    .mat-column-position {
      width: 65px;
      padding-right: 24px;
    }

    .mat-column-actions {
      width: 200px;
    }
  }

  tbody {
    td {
      font-family: "Fira Sans";
      font-weight: 400;
      font-size: 14px;
      color: #78909c;
      padding-right: 15px;
    }

    .mat-column-name {
      span {
        display: block;
        color: #2888ffde;
        max-width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        &.text {
          color: #78909c;
        }
      }
    }

    .mat-column-actions {
      .action-group {
        .icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
          color: #78909cde;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .mat-column-pharmacies {
      .number {
        background-color: rgba(255, 160, 47, 0.2);
        color: rgba(255, 160, 47, 1);
        font-size: 14px;
        font-weight: 500;
        font-family: "Fira Sans";
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
      }
    }
  }

  .inactive,
  .active {
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    border-radius: 100px;
    position: relative;
    padding: 2px 11px 2px 28px;
    display: inline-block;
    background-color: #f3f3f3;
    text-transform: capitalize;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 10px;
      margin: auto;
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
  }
  .inactive {
    color: #78909c;
    &:before {
      background-color: #78909c;
    }
  }
  .active {
    color: #ffa02f;
    &:before {
      background-color: #ffa02f;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .div-table {
    .table-responsive {
      table {
        min-width: 1270px;
      }
    }
  }
}
