@import "mixin";

// Color Variable
$white: #ffffff;
$black: #000000;

$primary: #ffa02f !default;
$secondary: #2d3436 !default;
$textcolor: #333333;
$secondtext: #333333;

$danger: #ff1703;
$sucess: #b8ce46;
$warning: #fcba08;
$green: green;
$progress-gray: #808080;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// media quary
$lg: 1199px;
$md: 1024px;
$sm: 767px;
$xs: 575px;

%transition {
  @include prefix(transition, all 0.3s ease-in-out);
}

// risk colors
$green-dark: #4ada96;
$orange-dark: #ff6027;
$yellow-dark: #ffc100;
$orange-light: #c74517;
